{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turnire</title>
    <link rel="stylesheet" href="{% static 'aza1.css' %}">
</head>
<body>
<main>
    <h2>Турниры игр</h2>
    <ul id="tournament-list">
        <li>
            <h3>Турнир по Fotnite</h3>
            <p>Дата: 10 июня 2024</p>
            <p>Место:Kara-Balta"</p>
            <p>Участники: 2 команд</p>
        </li>
        <li>
            <h3>Турнир по Counter-Strike 2</h3>
            <p>Дата: 15 июня 2024</p>
            <p>Место:Kara-Balta"</p>
            <p>Участники: 2 игроков</p>
        </li>
    </ul>
</main>
</body>
</html>