{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Создать команду</title>
    <link rel="stylesheet" href="{% static 'command.css' %}">
</head>
<body>
<form action="/submit-registration" method="post">
    <h2>Register Command</h2>
    <label for="username">Nikname:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Gamers number:</label>
    <input type="password" id="password" name="password" required>

    <button><a href="{% url 'command1' %}">Register</a></button>
</form>

</body>
</html>
