<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление турнирами</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Управление турнирами</h1>

        <nav>
            <ul>
                <li><button><a href="{% url 'aza1' %}">Турниры</a></button></li>
                <li><button><a href="{% url 'aza2' %}">Команды</a></button></li>
                <li><button><a href="{% url 'aza3' %}">Результаты</a></button></li>
            </ul>
        </nav>
    </header>
</body>
</html>
