       body {
            background-image: url('https://wallpapers.com/images/hd/welcome-gaming-1600-x-1000-wallpaper-c7sbfwjmq0eza83k.jpg');
            background-size: 2560px 1080px;
            background-position: down;
        }